@import "../common/all.css";
@import "../common/header.css";
@import "../common/banner2.css";
@import "../common/footer.css";
div.top_title{
    position: absolute;
    width: 200px;
    top: 200px;
    left: 960px;
    z-index: 1;
    color: white;
    font-size: 48px;
}
div.top_block{
    width: 640px;
    height: 120px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 360px;
}
div.title{
    background-color: white;
    transform: translateY(-80px);
    display: block;
    z-index: 1;
    font-size: 48px;
    line-height: 160px;
    width:640px;
    padding-left: 100px;
}
main{
    width: 1200px;
    margin: 0 auto;
}

div.main{
    display: flex;
}
div.left{
    width: 640px;
}
div.right{
    width: 560px;
    }

/* 麵包屑  */
div.left div.bread{
    width: 360px;
}
/* 查詢列 */
div.right div.search_block{
    display: flex;
    width: 360px;
    justify-content: flex-end;
}
div.right div.search_icon{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
div.right div.search{
    border: 1px solid black;
    width: 200px;
}





div.left_top div.blog_2{
    margin-top: 200px;
    border-top-left-radius: 25px;
    box-shadow: 0px -5px 0px #f6cf5f;
    margin-bottom: 400px;
}
div.left_top div.blog_2_title{
    display: inline-block;
    font-size: 28px;
    margin-top: 60px;   
    margin-left: 60px;

}
div.left_top div.hori_line{
    display: block;
    border-top: 2px solid black;
    width: 440px;
    margin-left: 60px;
    margin-top: 10px;
}

div.blog_2_ul div.blog_2_bg1{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 135px;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0 ,0,6);
}
div.blog_2_ul div.blog_2_1_text_title{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    margin-top: 90px;
    margin-left: 35px;
}
div.blog_2_ul div.blog_2_1_text_title span{
    font-size: 20px;
}
div.blog_2_ul div.blog_2_1_content{
    margin-top: 10px;
    font-size: 16px;
}



div.blog_2_ul2 div.blog_2_bg2{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 135px;
    margin-left: 100px;
    margin-top: 60px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0 ,0,6);
}
div.blog_2_ul2 div.blog_2_2_text_title{
    vertical-align: top;
    margin-top: 65px;
    display: inline-block;
    margin-left: 35px;
    font-size: 24px;
}
div.blog_2_ul2 div.blog_2_2_text_title span{
    font-size: 20px;
}
div.blog_2_ul2 div.blog_2_2_content{
    margin-top: 10px;
    font-size: 16px;
}
div.blog_2 div.t1_button{
    width: 360px;
    margin-left: 75px;
    margin-top: 200px;
    height: 70px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
}
div.blog_2 div.t1_button span{
    font-size: 48px;
    font-weight: bold;
    color: #f6cf5f;
    position:relative;
    top: -5px;
    display: inline-block;
}




/* 左下 */

div.left_bottom div.blog_3{
    margin-top: 220px;
    border-top-left-radius: 25px;
    box-shadow: 0px -5px 0px #f6cf5f;
    margin-bottom: 400px;
}
div.left_bottom div.blog_3_title{
    display: inline-block;
    font-size: 28px;
    margin-top: 60px;   
    margin-left: 60px;

}
div.left_bottom div.hori_line{
    display: block;
    border-top: 2px solid black;
    width: 440px;
    margin-left: 60px;
    margin-top: 10px;
}

div.blog_3_ul div.blog_3_bg{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 135px;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0 ,0,6);
}
div.blog_3_ul div.blog_3_1_text_title{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    margin-top: 90px;
    margin-left: 35px;
}
div.blog_3_ul div.blog_3_1_text_title span{
    font-size: 20px;
}
div.blog_3_ul div.blog_3_1_content{
    margin-top: 10px;
    font-size: 16px;
}



div.blog_3_u2 div.blog_3_bg2{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 135px;
    margin-left: 100px;
    margin-top: 60px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0 ,0,6);
}
div.blog_3_u2 div.blog_3_2_text_title{
    vertical-align: top;
    margin-top: 65px;
    display: inline-block;
    margin-left: 35px;
    font-size: 24px;
}
div.blog_3_ul2 div.blog_3_2_text_title span{
    font-size: 20px;
}
div.blog_3_ul2 div.blog_3_2_content{
    margin-top: 10px;
    font-size: 16px;
}

div.blog_3 div.t1_button{
    width: 360px;
    margin-left: 75px;
    margin-top: 200px;
    height: 70px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
}
div.blog_3 div.t1_button span{
    font-size: 48px;
    font-weight: bold;
    color: #f6cf5f;
    position:relative;
    top: -5px;
    display: inline-block;
}


















/* 右邊 */






div.right div.blog_1{
    margin-top: 730px;
    border-top-left-radius: 25px;
    box-shadow: 0px -5px 0px #f6cf5f;
    display: block;
}

div.blog_1 div.blog_1_title{
    display: inline-block;
    margin-top: 60px;
    font-size: 28px;
    margin-left: 60px;
}
div.blog_1 div.hori_line{
    display: block;
    border-top: 2px solid black;
    width: 440px;
    margin-left: 60px;
    margin-top: 10px;
}
div.blog1 div.blog_1_ul{
    width: 280px;
    border: 10px solid rgb(128, 129, 128);
}
div.blog_1 div.blog_1_bg{
    width: 100px;
    height: 135px;
    border: 1px solid black;
    margin-left: 55px;
    margin-top: 90px;
    display: inline-block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0 ,0,6);
}   


div.blog_1 div.blog_1_1_text_title{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    margin-left: 35px;
    margin-top: 90px;
}
div.blog_1 div.blog_1_1_text_title span{
    font-size: 20px;
}


div.blog_1 div.blog_1_1_content{
    font-size: 16px;
    margin-top: 10px;

}
div.blog_1_ul2 div.blog_2_bg{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 135px;
    margin-top: 60px;
    margin-left: 55px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0 ,0,6);
}
div.blog_1_ul2 div.blog_1_2_text_title{
    vertical-align: top;
    margin-top: 60px;
    display: inline-block;
    margin-left: 35px;
    font-size: 24px;
}
div.blog_1_ul2 div.blog_1_2_text_title span{
    font-size: 20px;
}
div.blog_1_ul2 div.blog_1_2_content{
    margin-left: 35px;
    margin-top: 10px;
    font-size: 16px;
}
div.blog_1 div.t1_button{
    width: 360px;
    margin-left: 75px;
    margin-top: 200px;
    height: 70px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
}
div.blog_1 div.t1_button span{
    font-size: 48px;
    font-weight: bold;
    color: #f6cf5f;
    position:relative;
    top: -5px;
    display: inline-block;
}






