@import url(./header.css);
@import url(./banner2.css
@import url(./footer.css);
div.title{
    background-color: white;
    transform: translateY(-80px);
    display: block;
    z-index: 1;
    font-size: 48px;
    line-height: 160px;
    width:640px;
    padding-left: 100px;
}
main{
    width: 1200px;
    margin: 0 auto;
}
div.header{
    height: 480px;
} 
div.bottom{
    position: relative;
    background-color: black;
    width: 1200px;
    height: 210px;
}
div.bottom div.button{
    position: relative;
    top: 80px;
    width: 650px;
    height: 80px;
    margin-left: 240px;
 
    background-image: url("../images/arrow_long.png");
    background-repeat: no-repeat;
    /* z-index: 2; */
}
div.bottom div.button span{
    font-size: 48px;
    font-weight: bold;
    color: #f6cf5f;
    position:relative;
    top:-5px;
    display: inline-block;
} 

div.main{
    width: 1200px;
    /* height: 1960px; */
}
div.all_class{
    width: 1200px;
    height: 1600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-count: 3;
    justify-content: flex-start;
    /* box-sizing: border-box; */
}

/* class01空 */
/* div.all_class div.block1{
    width: 435px;
} */
div.block1 div.class_bg1{
    background-color: black;
    height: 205px;
    width: 480px;
}


/* class02 */
/* div.all_class div.block2{
    width: 435x;
} */
div.block2 div.class_bg2{
    width: 480px;
    height: 580px;
    background-image: url("#");
}
div.block2 div.class_title2{
    font-size: 36px;
}
/* class03 */
/* div.all_class div.block3{
    width: 280px;
} */
div.block3 div.class_bg3{
    width: 480px;
    height: 345px;
    background-image: url("#");
}
div.block3 div.class_title3{
    font-size: 36px;
}
/* class04 */
/* div.all_class div.block4{
    width: 500px;
} */
div.block3 div.class_bg3{
    width: 480px;
    height: 420px;
    background-image: url("#");
}
div.block3 div.class_title3{
    font-size: 36px;
}
/* class05空 */
/* div.all_class div.block5{
    width: 380px;
} */
div.block5 div.class_bg5{
    width: 480px;
    height: 120px;
    background-color: black;
}
div.block3 div.class_title3{
    font-size: 36px;
}
/* class06 */
/* div.all_class div.block6{
    width: 275px;
} */
div.block6 div.class_bg6{
    width: 480px;
    height: 275px;
    background-image: url("#");
}
div.block3 div.class_title3{
    font-size: 36px;
}


/* 換行 */
/* class7  空*/
/* div.all_class div.block7{
    width: 155px;
} */
div.block7 div.class_bg7{
    width: 320px;
    height: 435px;
}
div.block7 div.class_title7{
    font-size: 36px;
}
/* class8 空 */
div.block8 div.class_bg8{
    width: 320px;
    height: 145px;
    background-color: black;
}
div.block8 div.class_title8{
    font-size: 36px;
}
/* class9  */
div.block9 div.class_bg9{
    width: 320px;
    height: 470px;
}
div.block9 div.class_title9{
    font-size: 36px;
}
/* class10  */
div.block10 div.class_bg10{
    height: 320px;
    width: 320px;
}
div.block10 div.class_title10{
    font-size: 36px;
}
/* class11  */
div.block11 div.class_bg11{
    width: 320px;
    height: 230px;
}
div.block11 div.class_title11{
    font-size: 36px;
}


/* 換行 */
/* class12  */

div.block12 div.class_bg12{
    width: 400px;
    height: 260px;
}
div.block12 div.class_title12{
    font-size: 36px;
}
/* class13 空 */

div.block13 div.class_bg13{
    width: 400px;
    height: 110px;
    background-color: black;
}
div.block13 div.class_title13{
    font-size: 36px;
}
/* class14  */

div.block14 div.class_bg14{
    width: 400px;
    height: 310px;
}
div.block14 div.class_title14{
    font-size: 36px;
}
/* class15  */

div.block15 div.class_bg15{
    width: 400px;
    height: 200px;
}
div.block15 div.class_title15{
    font-size: 36px;
}
/* class16  */

div.block16 div.class_bg16{
    width: 400px;
    height: 330px;
}
div.block16 div.class_title16{
    font-size: 36px;
}
/* class17  */

div.block17 div.class_bg17{
    width: 400px;
    height: 390px;
}
div.block17 div.class_title17{
    font-size: 36px;
}

