@import "../common/all.css";
@import "../common/header.css";
@import "../common/banner2.css";
@import "../common/footer.css";





div.section_top{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
}
div.section_top div.title{
    display: block;
    z-index: 1;
    font-size: 36px;
    width:100%;
    text-align: center;
    font-weight: bold;
}

div.bg{
    position: flex;
    /* width: 1200px; */
    z-index: -1;
}
/* div.bg div.left{
    position: absolute;
    width: 640px;
    height: 1220px;
    background-color: #A04724;
    z-index: -1;    
    top:-120px
}
div.bg div.right{
    position: absolute;
    width:560px;
    height: 1100px;
    background-image: url("#");
    z-index: -1;
} */
/* div.bg_bottom{
    position: absolute;
    width: 1200px;
    top: 1100px;
    height: 1200px;
    background-color: black;
    z-index: -1;
} */


/* 課程表單 */
.section_body{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
/* 通用 */
.section_body .item_block{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 3px 3px 12px black;
    margin-bottom: 30px;
}
.item_block .item_bg{
    margin-top: 20px;
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
}
div.item_block div.item_title{
    font-size: 16px;
    text-align: center;
}
div.item1_block div.item1_title span{
    font-size: 16px;
}
div.item1_block div.item1_button{
    /* margin-top: 45px; */
    border-radius: 50px;
    border:2px solid black;
    font-size: 24px;
    font-weight: bold;
    width: 165px;
    text-align: center;
    margin-bottom: 15px;
}
/* 圖片 */
.item_block .item_bg1{
    background-image: url("../images/class/class10.jpg");
}
/* item2 */
.item_block .item_bg2{
    background-image: url("../images/online-class1-min.jpg");
}
/* item3 */
.item_block .item_bg3{
    background-image: url("../images/shutterstock_443724343-min-e1569580014716.jpg");
}
/* item4 */
.item_block .item_bg4{
    background-image: url("../images/shutterstock_469972379-2-min-1-e1569574908944.jpg");
}
/* item5 */
.item_block .item_bg5{
    background-image: url("../images/class/class3.jpg");
}
/* item6 */
.item_block .item_bg6{
    background-image: url("../images/class/class5.jpg");
}
/* item7 */
.item_block .item_bg7{
    background-image: url("../images/class/class2.jpg");
}
/* item8 */
.item_block .item_bg8{
    background-image: url("../images/uklele.png");
}
/* item9 */
.item_block .item_bg9{
    background-image: url("../images/online-cajon-class.jpg");
}
/* item10 */
.item_block .item_bg10{
    background-image: url(../images/online-cajon-class.jpg);
}
/* item11 */
.item_block .item_bg11{
    background-image: url(../images/class/class8.jpg);
}
/* item12 */
.item_block .item_bg12{
    background-image: url("../images/class/class8.jpg");
}



/* 按鈕 */


.section_body .item_button{
    border-radius: 50px;
    background-color: #A04724;
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding: 2px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item_button:hover{
    color: #f6cf5f;
}
a{
    text-decoration: none;
}



.section_bottom .button{
    border-radius: 50px;
    background-color: #A04724;
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    align-items: center;
    font-size: 28px;
    padding: 2px;
    font-weight: bold;
    color: white;
}
.button:hover{
    color: #f6cf5f;
}
.section_bottom{
    width: 100%;
    display: block;
}
.section_bottom .button{
    margin-top: 100px;
    margin-bottom: 100px;
}


@media screen and (max-width: 767.98px){
    .section_body{
        width: 100%;
    }
}