    *{
        box-sizing: border-box;
        /* max-width: 1200px; */
      
    }
    footer{
        width: 100%;
        display: block;
        margin: 0 auto;
        background-color: #000000;
        padding-top: 10px;
    }
    div.footer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 20px;
    }
    div.footer div.footer_left{
        width: 30%;
    }
    div.footer_left div.map{
        width: 320px;
        height: 200px;
    }
    div.footer div.footer_middle{
        width: 40%;
    }
    div.footer_middle div.footer_title{
        color: white;
        font-size: 24px;
        vertical-align: top;
    }

    div.footer_middle div.footer_content{
        color: white;
        font-size: 16px;
        margin-top: 20px;
    }
    div.footer div.footer_right{
        width: 20%;
    }
    div.footer div.logo_block{
        width: 200px;
        height: 200px;
        background-color: white;
    }

@media screen and (max-width: 767.98px){
    *{
        /* min-width: 320px; */
        box-sizing: border-box;
    }
    footer{
        width: 100%;
        display: block;
        margin: 0 auto;
        background-color: #000000;
        padding-top: 10px;
        min-width: 320px;
    }
    div.footer{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 20px;
    }
    div.footer div.footer_left{
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    div.footer_left div.map{
        text-align: center;
        width:  100%;
    }
    div.footer div.footer_middle{
        display: inline-block;
        width: 100%;
       
    } 
    div.footer_middle div.footer_title{
        margin-top: 5%;
        margin: 0 auto;
        width: 100%;
        color: white;
        font-size: 20px;
    }

    div.footer_middle div.footer_content{
        color: white;
        font-size: 8px;
        margin: 0 auto;
    }
    div.footer div.footer_right{
        display: none;
    }
    .little{
        font-size: 8px;
    }
    
}

@media (min-width: 768px) and (max-width: 1199.98px){
    *{
        box-sizing: border-box;
    }
    footer{
        width: 100%;
        display: block;
        margin: 0 auto;
        background-color: #000000;
        padding-top: 10px;
    }
    div.footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 20px;
    }
    div.footer div.footer_left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    div.footer_left div.map{
        align-items: center;
        text-align: center;
        width:  100%;
    }
    div.footer div.footer_middle{
        width: 40%;
    }
    div.footer_middle div.footer_title{
        text-align: start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: white;
        font-size: 20px;
        vertical-align: top;
        width: 100%;
    }

    div.footer_middle div.footer_content{
        color: white;
        font-size: 12px;
        margin-top: 20px;
        width: 100%;
        text-align: left;
    }
    div.footer div.footer_right{
        display: 20%;
    }
    div.footer div.logo_block{
        width:  100%;
        height:  100%;
        background-color: white;
    }
   
}