*{
    box-sizing: border-box;
}
footer{
    width: 1200px;
    display: block;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 10px;
}
div.footer{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 20px;
}
div.footer div.footer_left{
    width: 320px;
}
div.footer_left div.map{
    width: 320px;
    height: 200px;
}
div.footer div.footer_middle{
    width: 400px;
}
div.footer_middle div.footer_title{
    color: white;
    font-size: 24px;
    vertical-align: top;
}

div.footer_middle div.footer_content{
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
div.footer div.footer_right{
    width: 200px;
}
div.footer div.logo_block{
    width: 200px;
    height: 200px;
    background-color: white;
}