*{
    margin: 0px;
    box-sizing: border-box;
}
header.header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: white;
}
header.header div.header_nav{
    justify-content: center;
    display: flex;
    font-size: 16px;
    line-height: 60px;
    width: 100%;
    text-align: center;
}
div.header_nav div.nav{
    color: black;
    width: 80px;
    height: 60px;
}
div.header_nav div.nav:hover{
    color: #f6cf5f;
}
div.nav1 div.img{
    margin-left: 20px;
    width: 60px;
    height: 60px;
}
div.header_nav div.nav2{
    width: 160px;
    height: 60px;
}
div.nav2 div.img{
    margin-left: 20px;
    width: 120px;
    height: 60px;
}
div.header_nav a{
    text-decoration: none;
}