@import "../common/all.css";
@import "../common/header.css";
@import "../common/banner2.css";
@import "../common/footer.css";


.section_top{
    margin-top: 100px;
    width: 50%;
}
.section_top div.title{
    display: block;
    z-index: 1;
    font-size: 36px;
    width:100%;
    text-align: center;
    font-weight: bold;
}

.section_body{
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.section_body .top{
    width: 100%;
    display: flex;
}
.section_body .middle{
    width: 100%;
    display: flex;
}
.section_body .bottom{
    width: 100%;
    display: flex;
}
/* 流程表 */
.top{
    display: flex;
    width: 100%;
}
.top .left{
    display: flex;
    width: 50%;
    justify-content: center;
}
.left .pic{
    border:1px solid red;
    background: cornflowerblue;
    height: 30%;
    width: 30%;
}
.top .right{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.right .title{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 10px;
}
.right .icon{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.icon .line{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
}
.icon .fb{
    margin: 20px;

    display: inline-block;
    width: 100px;
    height: 100px;
}



/* 彩排租借  */
.section_body .middle{
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.middle .re_left{
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.middle .re_right{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.room_top{
    display: block;
    flex-direction: column;
}
.room_main{
    margin-bottom: 50px;
    object-fit: cover;
}
.room_main img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.room_bottom{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
}
.room img{
    height: 80px;
    width: 120px;
    object-fit: cover;
}
.middle .re_right{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.text_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.text_top .title{
    margin-bottom: 40px;
    font-size: 28px;
    display: block;
}
.text_top .content{
    font-size: 20px;
    word-wrap: normal;
    display: block;
    margin-bottom: 30px;
}
.text_top .price{
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}


/* 聯絡我們 */
.text_bottom .title{
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 10px;
}
.text_bottom .icon{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon .line{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 20px;
}
.line img{
    object-fit: cover;
    width: 70px;
    height: 70px;
}
.fb img{
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.icon .fb{
    margin: 20px;
    display: inline-block;
    width: 70px;
    height: 70px;
}


/* 練團室 */
.section_body .bottom{
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    /* justify-content: space-around; */
}

.bottom .tr_right{
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.bottom .tr_left{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.tr_right .room_top{
    display: block;
    flex-direction: column;
}
.tr_right .room_bottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.bottom .tr_left{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.tr_left .text_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    .room_bottom{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .room{
        width: 100%;
        height: 70%;
    }
    .room img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 767.98px){
    .section_body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section_body .left{
        width: 100%;
    }
    .section_body .top{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .top .left{
        width: 100%;
    }
    .top .right{
        width: 100%;
    }
    .right .title{
        display: flex;
        font-size: 20px;
        justify-content: center;
        margin-bottom: 10px;
    }
    .right .icon{
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
    .icon .line{
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    .icon .fb{
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    .line img{
        object-fit: cover;
        width: 50px;
        height: 50px;
    }
    .fb img{
        object-fit: cover;
        width: 50px;
        height: 50px;;
    }
    
    /* 彩排租借  */
    .section_body .middle{
        margin: 0 auto;
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .middle .re_left{
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    .middle .re_right{
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .room_top{
        display: block;
        flex-direction: column;
    }
    .room_main{
        margin-bottom: 50px;
        object-fit: cover;
    }
    .room_main img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .room_bottom{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .room{
        width: 100%;
        height: 70%;
    }
    .room img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .middle .re_right{
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .text_top{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .text_top .title{
        margin-bottom: 40px;
        font-size: 28px;
        display: block;
    }
    .text_top .content{
        font-size: 20px;
        word-wrap: normal;
        display: block;
        margin-bottom: 30px;
    }
    .text_top .price{
        margin-top: 20px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }


    /* 聯絡我們 */
    .text_bottom .title{
        margin: 0 auto;
        display: flex;
        font-size: 20px;
        justify-content: center;
        margin-bottom: 10px;
    }
    .text_bottom .icon{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .icon .line{
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 20px;
    }
    .line img{
        object-fit: cover;
        width: 70px;
        height: 70px;
    }
    .fb img{
        object-fit: cover;
        width: 70px;
        height: 70px;
    }

    .icon .fb{
        margin: 20px;
        display: inline-block;
        width: 70px;
        height: 70px;
    }
    

    /* 練團室 */
    .section_body .bottom{
        margin: 0 auto;
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        /* justify-content: space-around; */
    }

    .bottom .tr_right{
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    .bottom .tr_left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .tr_right .room_top{
        display: block;
        flex-direction: column;
    }
    .tr_right .room_bottom{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .bottom .tr_left{
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .tr_left .text_top{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
}