@import "../common/all.css";
@import "../common/header.css";
@import "../common/banner2.css";
@import "../common/footer.css";



div.section_top{
    margin-top: 100px;
    width: 50%;
}
div.section_top div.title{
    display: block;
    z-index: 1;
    font-size: 36px;
    width:100%;
    text-align: center;
    font-weight: bold;
}

div.section_body{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}


/* 麵包屑 */
div.top{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
}
div.top nav.breadcrumb{
    font-size: 16px;

}
nav.breadcrumb ol.breadcrumb{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
ol.breadcrumb li.bread-item{
    display: inline-block;
    width: 40%;

}
ol.breadcrumb form.search{
    display: inline-block;
    text-align: end;
    width: 40%;
}






div.stone_blog{
    display: flex;
}



/* 商品分類 */
div.left{
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 0px;
}
/* 左列導覽 */
div.left div.item_ul{
    
    margin: 0px;
    display: flex;
    flex-direction: column;
}
div.item_ul div.item_title{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 24px;
    width: 150px;
    line-height: 36px;
    text-align: center;
}


/* 通用 */

/* 商品分類 */
.item_ul .item_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* 小分類 */
.item_block .item_t{
    align-items: center;
    width: 100px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    background-color: #F6CF5F;
    font-size: 20px;
    color: black;
}
/* 細項 */
div.item_block .item_content{
    width: 100px;
    margin-top: 10px;
    display: block;
    padding-left: 50px;
}

.item_content div.item{
    display: block;
    font-size: 16px;
}

.item_content a{
    text-decoration: none;
    color: black;
}

.item_content .item:hover{
    transform:scale(1.1,1.1);
    transition: all .2s ease;
    color: #A04724;
    text-decoration: none;
}



.right{
    width: 75%;
}
.right .stone_block{
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
.stone_col{
    display: flex;
    flex-direction: column;
}
/* 通用大標題 */
.stone_col .stone_title{
    padding-left: 50px;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
}
/* 橫排 */
.stone_col .stone_row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
} 
/* 卡片 */
.stone_row .card{
    display: block;
    box-shadow: 3px 3px 10px black;
    margin-bottom: 20px;
}
.stone_row .card:hover{
    transform:scale(1.1,1.1);
    transition: all .2s ease;
}
.card .img{
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 200px;
    height: 200px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .name{
    text-align: center;
    display: block;
    font-size: 20px;
}
.card .text{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}
.card .o_price{
    display: inline-block;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 20%;
    text-align: center;
}
.card .price{
    display: inline-block;
    font-size: 16px;
    margin-left: 10%;
    text-align: center;
    color: #A04724;
}



/* 中間圖片 */
.cost_block{
    text-align: center;
    margin: 0 auto;
}
.cost_block .cost_img{
    display: inline-block;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cost_img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}





.page_block{
    display: block;
    margin: 0 auto;
}
ul.page_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.page-item{
    list-style: none;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    letter-spacing: 5px;
}
.page-link{
    list-style: none;
    font-size: 20px;
    letter-spacing: 16px;
}
.page-item a{
    text-decoration: none;
    color: black;
}
.page-item :hover{
    transform:scale(1.5,1.5);
    transition: all .2s ease;
    color: #A04724;
    text-decoration: none;
}
li:nth-child(2){
    color: #F6CF5F;
}


@media (min-width: 768px) and (max-width: 1199.98px){
    /* 卡片 */
    .stone_row .card{
        display: block;
        box-shadow: 3px 3px 10px black;
        margin-bottom: 20px;
    }
    .stone_row .card:hover{
        transform:scale(1.1,1.1);
        transition: all .2s ease;
    }
    .card .img{
        margin: 0 auto;
        display: block;
        padding: 10px;
        width: 200px;
        height: 200px;
    }
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card .name{
        text-align: center;
        display: block;
        font-size: 20px;
    }
    .card .text{
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card .o_price{
        display: inline-block;
        font-size: 14px;
        text-decoration: line-through;
        margin-left: 20%;
        text-align: center;
    }
    .card .price{
        display: inline-block;
        font-size: 16px;
        margin-left: 10%;
        text-align: center;
        color: #A04724;
    }



    /* 中間圖片 */
    .cost_block{
        text-align: center;
        margin: 0 auto;
    }
    .cost_block .cost_img{
        display: inline-block;
        width: 90%;
        height: 200px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cost_img img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

        

    .page_block{
        display: block;
        margin: 0 auto;
    }
    ul.page_bar{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: center;
        margin-left: 20%;
        margin-bottom: 50px;
    }
    .page-item{
        list-style: none;
        text-decoration: none;
        display: inline;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .page-link{
        list-style: none;
        font-size: 20px;
        letter-spacing: 16px;
    }
    .page-item a{
        text-decoration: none;
        color: black;
    }
    .page-item :hover{
        transform:scale(1.5,1.5);
        transition: all .2s ease;
        color: #A04724;
        text-decoration: none;
    }
    li:nth-child(2){
        color: #F6CF5F;
    }


}
@media screen and (max-width: 767.98px){
    div.section_top{
        margin-top: 100px;
        width: 50%;
    }
    div.section_top div.title{
        display: block;
        z-index: 1;
        font-size: 36px;
        width:100%;
        text-align: center;
        font-weight: bold;
    }

    div.section_body{
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
    }


    /* 麵包屑 */
    div.top{
        width: 80%;
        margin-bottom: 50px;
        margin-top: 100px;
    }
    nav.breadcrumb ol.breadcrumb{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    ol.breadcrumb li.bread-item{
        display: block;
        width: 100%;
        padding-bottom: 20px;

    }
    ol.breadcrumb form.search{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        display: inline-block;
        text-align: end;
        width: 100%;
    }
    .search_bar{
        display: inline-block;
        width: 60%;
    }
    .search_button{
        display: inline-block;
        width: 30%;
    }






    div.stone_blog{
        display: flex;
    }



    /* 商品分類 */
    div.left{
        width: 40%;
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    /* 左列導覽 */
    div.left div.item_ul{
        
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.item_ul div.item_title{
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-size: 20px;
        width: 100px;
        line-height: 36px;
        text-align: center;
    }


    /* 通用 */

    /* 商品分類 */
    .item_ul .item_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    /* 小分類 */
    .item_block .item_t{
        align-items: center;
        width: 100px;
        border-radius: 10px;
        display: inline-block;
        text-align: center;
        background-color: #F6CF5F;
        font-size: 20px;
        color: black;
    }
    /* 細項 */
    div.item_block .item_content{
        width: 100px;
        margin-top: 10px;
        display: block;
        padding-left: 0px;
    }

    .item_content div.item{
        display: block;
        font-size: 16px;
    }

    .item_content a{
        text-decoration: none;
        color: black;
    }

    .item_content .item:hover{
        transform:scale(1.1,1.1);
        transition: all .2s ease;
        color: #A04724;
        text-decoration: none;
    }



    .right{
        width: 60%;
    }
    .right .stone_block{
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .stone_col{
        display: flex;
        flex-direction: column;
    }
    /* 通用大標題 */
    .stone_col .stone_title{
        padding: 0;
        margin: 0 auto;
        font-size: 24px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    /* 橫排 */
    .stone_col .stone_row{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    } 
    /* 卡片 */
    .stone_row .card{
        display: block;
        box-shadow: 3px 3px 10px black;
        margin-bottom: 20px;
    }
    .stone_row .card:hover{
        transform:scale(1.1,1.1);
        transition: all .2s ease;
    }
    .card .img{
        margin: 0 auto;
        display: block;
        padding: 10px;
        width: 150px;
        height: 150px;
    }
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card .name{
        text-align: center;
        display: block;
        font-size: 20px;
        margin: 0 auto;
    }
    .card .text{
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card .o_price{
        display: inline-block;
        font-size: 14px;
        text-decoration: line-through;
        width: 40%;
        margin-left: 5%;
    }
    .card .price{
        width: 40%;
        display: inline-block;
        font-size: 16px;
        color: #A04724;
    }



    /* 中間圖片 */
    .cost_block{
        text-align: center;
        margin: 0 auto;
    }
    .cost_block .cost_img{
        display: inline-block;
        width: 90%;
        height: 100px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cost_img img{
        object-fit: cover;
        height: 100%;
        width: 90%;
        
    }

        

    .page_block{
        display: block;
        margin: 0 auto;
    }
    ul.page_bar{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: center;
        margin-left: 20%;
        margin-bottom: 50px;
    }
    .page-item{
        list-style: none;
        text-decoration: none;
        display: inline;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .page-link{
        list-style: none;
        font-size: 20px;
        letter-spacing: 16px;
    }
    .page-item a{
        text-decoration: none;
        color: black;
    }
    .page-item :hover{
        transform:scale(1.5,1.5);
        transition: all .2s ease;
        color: #A04724;
        text-decoration: none;
    }
    li:nth-child(2){
        color: #F6CF5F;
    }

}