@import "../common/all.css";
@import "../common/header.css";
@import "../common/footer.css";



div.section_top{
    width: 50%;
}
div.section_top div.title{
    /* background-color: white; */
    display: block;
    z-index: 1;
    font-size: 36px;
    width:100%;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
}

div.section_body{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 260px;
    flex-direction: column;
    justify-content: space-between;
}

div.section_body div.teacher_block{
    /* background-image: url(/images/test.png); */
    display: flex;
    align-items: center;
    flex-grow: 0;
    margin: 0 auto;
    justify-content: center;
}
div.teacher_block div.teacher_bg{
    z-index: 0;
    transform:skew(-7.5deg);
    width: 140px;
    height: 450px;
    position: relative;
    object-fit: cover;
}
/* div.teacher_block div.teacher1_bg{
    z-index: 0; 
    transform:skew(-7.5deg);
    width: 140px;
    height: 450px;
    background-image: url(../images/teacher/t1.jpg);
    background-size: cover;
    position: relative;
} */
div.teacher1_bg div.name{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    color: white;
    top: 200px;
    left: 0px;
}
div.teacher1_bg div.ename{
    position: absolute;
    display: inline-block;
    font-size: 48px;
    color: white;
    bottom: 0px;
}

div.teacher_block div.teacher2_bg{
    z-index:0;
    transform:skew(-7.5deg);
    width: 140px;
    height: 450px;
    margin-top: 100px;
    background-image: url(../images/teacher/t2.jpg);
    background-size: cover;
    left: -6px;
    position: relative;
}
div.teacher2_bg div.name{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    color: white;
    top: 150px;
    left: 0px;
}
div.teacher2_bg div.ename{
    position: absolute;
    display: inline-block;
    font-size: 48px;
    color: white;
    bottom: 0px;
}

div.teacher_block div.teacher3_bg{
    z-index:0;
    background-image: url(../images/teacher/t3.jpg);
    background-size: cover;
    transform:skew(-7.5deg);
    width: 140px;
    height: 450px;
}
div.teacher3_bg div.name{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    color: white;
    top: 200px;
    left: 0px;
}
div.teacher3_bg div.ename{
    position: absolute;
    display: inline-block;
    font-size: 48px;
    color: white;
    bottom: 0px;
}
div.teacher_block div.teacher4_bg{
    z-index:0;
    transform:skew(-7.5deg);
    width:140px;
    height: 450px;
    margin-top: 100px;
    background-image: url(../images/teacher/t4.jpg);
    background-size: cover;
    left: -6px;
    position: relative;
}
div.teacher4_bg div.name{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    color: white;
    top: 200px;
    left: 0px;
}
div.teacher4_bg div.ename{
    position: absolute;
    display: inline-block;
    font-size: 48px;
    color: white;
    bottom: 0px;
}
div.teacher_block div.teacher5_bg{
    z-index:0;
    transform:skew(-7.5deg);
    width: 140px;
    height: 450px;
    background-image: url(../images/teacher/t5.jpg);
    background-size: cover;
}
div.teacher5_bg div.name{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    color: white;
    top: 200px;
    left: 0px;
}
div.teacher5_bg div.ename{
    position: absolute;
    display: inline-block;
    font-size: 48px;
    color: white;
    bottom: 0px;
}
div.teacher_block div.teacher6_bg{
    z-index:0;
    background-image: url(../images/teacher/t6.jpg);
    background-size: cover;
    left: -6px;
    transform:skew(-7.5deg);
    width:140px;
    height: 450px;
    margin-top: 100px;
    position: relative;
    }
    div.teacher6_bg div.name{
        position: absolute;
        display: inline-block;
        font-size: 20px;
        color: white;
        top: 170px;
        left: 0px;
    }
    div.teacher6_bg div.ename{
        position: absolute;
        display: inline-block;
        font-size: 48px;
        color: white;
        bottom: 0px;
    }
div.teacher_block div.teacher7_bg{
    z-index:0;
    background-image: url(../images/teacher/t7.jpg);
    background-size: cover;
    transform:skew(-7.5deg);
    width: 140px;
    height: 450px;
}
div.teacher7_bg div.name{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    color: white;
    top: 150px;
    left: 0px;
}
div.teacher7_bg div.ename{
    position: absolute;
    display: inline-block;
    font-size: 48px;
    color: white;
    bottom: 0px;
}


div.main div.bottom_block{
    width: 960px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;

}
div.bottom_block div.block_1{
    width: 240px;
}
div.block_1 div.guitar_title{
    font-size: 28px;
    color: black;
    display: block;
    width: 140px;
}
div.block_1 div.guitar_content{
    font-size:20px;
    color: black;
    display: block;
    width: 245px;
    margin-top: 110px;
}
div.bottom_block div.block_2{
    width: 240px;
}
div.block_2 div.uklele_title{
    font-size: 28px;
    color: black;
    display: block;
    width: 200px;
    margin-top: 110px;
}

div.block_2 div.uklele_content{
    font-size:20px;
    color: black;
    display: block;
    width: 245px;
    margin-top: 110px;
}

div.bottom_block div.block_3{
    width: 240px;
}
div.bottom_block div.cajon_title{
    font-size: 28px;
    color: black;
    display: block;
    width: 140px;
}

div.bottom_block div.cajon_content{
    font-size:20px;
    color: black;
    display: block;
    width: 245px;
    margin-top: 110px;
}

div.main div.button{
    position: relative;
    width: 650px;
    height: 80px;
    margin-left: 240px;
    margin-top: 150px;
    margin-bottom: 60px;
    background-image: url("../images/arrow_long.png");
    background-repeat: no-repeat;
    /* z-index: 2; */
}
div.main div.button span{
    font-size: 48px;
    font-weight: bold;
    color: #f6cf5f;
    position:relative;
    top:-5px;
    display: inline-block;
}
